<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<string>id391214234</string>
	<key>facebookPageURL</key>
	<string></string>
	<key>versionsToPurgeTunes</key>
	<array/>
	<key>shouldShowPlaybackRateSegmentedControl</key>
	<true/>
	<key>copyright</key>
	<string>There is no copyright.</string>
	<key>customClasses</key>
	<array>
		<dict>
			<key>customName</key>
			<string>SFWSTunesLoader</string>
			<key>baseName</key>
			<string>TunesLoader</string>
		</dict>
		<dict>
			<key>customName</key>
			<string>SFWSMetreCVCellViewModel</string>
			<key>baseName</key>
			<string>MetreCVCellViewModel</string>
		</dict>
		<dict>
			<key>customName</key>
			<string>SFWSSongTVCellViewModel</string>
			<key>baseName</key>
			<string>SongTVCellViewModel</string>
		</dict>
		<dict>
			<key>customName</key>
			<string>SFWSSong</string>
			<key>baseName</key>
			<string>Song</string>
		</dict>
	</array>
	<key>defaultBoldFont</key>
	<string>StempelGaramondLTStd-Bold</string>
	<key>defaultFont</key>
	<string>Stempel Garamond LT Std</string>
	<key>defaultFontDisplayName</key>
	<string>Stempel Garamond</string>
	<key>directory</key>
	<string>songsforworshipsample-resources</string>
	<key>index</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>className</key>
					<string></string>
					<key>filename</key>
					<string></string>
					<key>filetype</key>
					<string></string>
					<key>storyboardID</key>
					<string>SongIndexVC</string>
					<key>storyboardName</key>
					<string>Main_iPhone</string>
					<key>title</key>
					<string>Sample Songs</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>className</key>
					<string></string>
					<key>filename</key>
					<string>faq</string>
					<key>filetype</key>
					<string>json</string>
					<key>storyboardID</key>
					<string>FAQTableVC</string>
					<key>storyboardName</key>
					<string>Main_iPhone</string>
					<key>title</key>
					<string>FAQ</string>
				</dict>
				<dict>
					<key>className</key>
					<string></string>
					<key>filename</key>
					<string>about</string>
					<key>filetype</key>
					<string>json</string>
					<key>storyboardID</key>
					<string>TextViewVC</string>
					<key>storyboardName</key>
					<string>Main_iPhone</string>
					<key>title</key>
					<string>About</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>action</key>
					<string>sendFeedback</string>
					<key>className</key>
					<string></string>
					<key>filename</key>
					<string></string>
					<key>filetype</key>
					<string></string>
					<key>storyboardID</key>
					<string></string>
					<key>storyboardName</key>
					<string></string>
					<key>title</key>
					<string>Send Feedback</string>
				</dict>
			</array>
			<key>title</key>
			<string></string>
		</dict>
	</array>
	<key>pdfRenderingConfigsForiPad</key>
	<array/>
	<key>pdfRenderingConfigsForiPhone</key>
	<array>
		<dict>
			<key>deviceName</key>
			<string>iPhone 6/7/8</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>554</real>
			<key>screenWidth</key>
			<real>375</real>
			<key>translateX</key>
			<real>-25</real>
			<key>translateY</key>
			<real>-60</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 6/7/8</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>554</real>
			<key>screenWidth</key>
			<real>375</real>
			<key>translateX</key>
			<real>-33</real>
			<key>translateY</key>
			<real>-60</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 6/7/8 Plus</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.16</real>
			<key>screenHeight</key>
			<real>623</real>
			<key>screenWidth</key>
			<real>414</real>
			<key>translateX</key>
			<real>-26</real>
			<key>translateY</key>
			<real>-60</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 6/7/8 Plus</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.16</real>
			<key>screenHeight</key>
			<real>623</real>
			<key>screenWidth</key>
			<real>414</real>
			<key>translateX</key>
			<real>-34</real>
			<key>translateY</key>
			<real>-60</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 11 Pro</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>641</real>
			<key>screenWidth</key>
			<real>375</real>
			<key>translateX</key>
			<real>-25</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 11 Pro</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>641</real>
			<key>screenWidth</key>
			<real>375</real>
			<key>translateX</key>
			<real>-33</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 11 Pro Max</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>725</real>
			<key>screenWidth</key>
			<real>414</real>
			<key>translateX</key>
			<real>-25</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 11 Pro Max</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>725</real>
			<key>screenWidth</key>
			<real>414</real>
			<key>translateX</key>
			<real>-33</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 11</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>721</real>
			<key>screenWidth</key>
			<real>414</real>
			<key>translateX</key>
			<real>-25</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 11</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>721</real>
			<key>screenWidth</key>
			<real>414</real>
			<key>translateX</key>
			<real>-33</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 12 Pro Max</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>752</real>
			<key>screenWidth</key>
			<real>428</real>
			<key>translateX</key>
			<real>-25</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 12 Pro Max</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>752</real>
			<key>screenWidth</key>
			<real>428</real>
			<key>translateX</key>
			<real>-33</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 12/12 Pro</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>left</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>670</real>
			<key>screenWidth</key>
			<real>390</real>
			<key>translateX</key>
			<real>-25</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
		<dict>
			<key>deviceName</key>
			<string>iPhone 12/12 Pro</string>
			<key>deviceOrientation</key>
			<string>portrait</string>
			<key>deviceType</key>
			<string></string>
			<key>pageOrientation</key>
			<string>right</string>
			<key>scale</key>
			<real>1.15</real>
			<key>screenHeight</key>
			<real>670</real>
			<key>screenWidth</key>
			<real>390</real>
			<key>translateX</key>
			<real>-33</real>
			<key>translateY</key>
			<real>-27</real>
		</dict>
	</array>
	<key>sendFeedbackEmailAddress</key>
	<string>contact@deovolentellc.com</string>
	<key>shouldHideSheetMusicForCopyrightedTunes</key>
	<true/>
	<key>shouldShowAdditionalTunes</key>
	<true/>
	<key>songCollections</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>SampleSongs</string>
			<key>jsonFilename</key>
			<string>songs</string>
			<key>pdfFilename</key>
			<string>songs_sample</string>
			<key>sections</key>
			<array>
				<dict>
					<key>count</key>
					<integer>5</integer>
					<key>title</key>
					<string>1</string>
				</dict>
			</array>
			<key>tunes</key>
			<array>
				<dict>
					<key>directory</key>
					<string>tune_midis</string>
					<key>filenameFormat</key>
					<string>{number}.1</string>
					<key>filetype</key>
					<string>mid</string>
					<key>title</key>
					<string>Four-Part Harmony</string>
				</dict>
				<dict>
					<key>directory</key>
					<string>parts_midis</string>
					<key>filenameFormat</key>
					<string>psalm_{number}_a_part</string>
					<key>filetype</key>
					<string>mid</string>
					<key>title</key>
					<string>Alto</string>
				</dict>
				<dict>
					<key>directory</key>
					<string>parts_midis</string>
					<key>filenameFormat</key>
					<string>psalm_{number}_s_part</string>
					<key>filetype</key>
					<string>mid</string>
					<key>title</key>
					<string>Soprano</string>
				</dict>
				<dict>
					<key>directory</key>
					<string>parts_midis</string>
					<key>filenameFormat</key>
					<string>psalm_{number}_b_part</string>
					<key>filetype</key>
					<string>mid</string>
					<key>title</key>
					<string>Bass</string>
				</dict>
				<dict>
					<key>directory</key>
					<string>parts_midis</string>
					<key>filenameFormat</key>
					<string>psalm_{number}_t_part</string>
					<key>filetype</key>
					<string>mid</string>
					<key>title</key>
					<string>Tenor</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>soundFonts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>UprightPianoKW-20190703</string>
			<key>filetype</key>
			<string>sf2</string>
			<key>isDefault</key>
			<true/>
			<key>title</key>
			<string>Upright Piano</string>
		</dict>
	</array>
	<key>tuneRecordings</key>
	<false/>
</dict>
</plist>
